{% extends 'shop/base.html' %}
{% block content %}
<div class="container">
  <h1 style="margin: 1.5rem 0; font-weight:300;">Politique de Confidentialité</h1>
  <p>Nous respectons votre vie privée. Cette page décrit comment nous collectons, utilisons et protégeons vos données.</p>
  <h3>Cookies</h3>
  <p>Nous utilisons des cookies pour améliorer votre expérience. Vous pouvez accepter ou refuser les cookies.</p>
  <h3>Données personnelles</h3>
  <p>Les données nécessaires à la création de votre compte et au traitement des commandes sont conservées en toute sécurité.</p>
</div>
{% endblock %}

